body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
  margin-top: 40px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 300px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid #ccc;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid #ccc;
}

.cell:hover {
  background-color: #f2f2f2;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #555;
}

.x {
  color: red;
}

.o {
  color: blue;
}

.x-wins {
  border: 4px solid red;
}

.o-wins {
  border: 4px solid blue;
}

.draw {
  border: 4px solid #00ff00;
}

.game-over .cell {
  cursor: default;
}

.game-over .cell:hover {
  background-color: #fff;
}

.line {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  color: #333;
}

.line span {
  display: inline-block;
  padding: 0 10px;
}

/* Media Queries */
@media (max-width: 600px) {
  #board {
    width: 250px;
    height: 250px;
  }

  .cell {
    font-size: 36px;
  }
}